/* 左側の領域のスタイル */
.left {
    display: none;
    width: 25%; /* 左側の30%の幅を設定 */
    height:100vh;
    float: left; /* 左寄せに配置 */
    box-sizing: border-box; /* ボーダーボックスモデルを使用して幅を設定 */
    border-right: 1px solid black;
    background-color: #ffedb3;
}

/* 右側の領域のスタイル */
.right {
    display: none;
    width: 100%; /* 右側の70%の幅を設定 */
    float: center; /* 左寄せに配置 */
    height:100vh;
    box-sizing: border-box; /* ボーダーボックスモデルを使用して幅を設定 */
}
.right iframe {
    margin: 0 auto; /* 左右のマージンを自動で調整して中央寄せ */
    display: block; /* ブロック要素として表示 */
    width: 40%; /* iframeの幅を設定 */
    height: 100%; /* iframeの高さを100%に設定 */
    border: 0; /* ボーダーを非表示に */
}
.mouse{
    cursor: pointer;
}